﻿@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Get in touch";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Prince of Wales Dr<br />
    Ottawa, ON, K2C 3J9<br />
    <abbr title="Phone">P:</abbr>
    613.620.2586
</address>

<address>
    <strong>Email 1: </strong> <a href="mailto:albino@intuitionlogic.com">albino@intuitionlogic.com</a><br />
    <strong>EMail 2: </strong> <a href="mailto:albinoadriano@gmail.com">albinoadriano@gmail.com</a>
</address>