﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Surveyly Dashboard</h1>
    <p class="lead">Feel the love from the customers...</p>
    <p>@Html.ActionLink("Go","Index","Survey",null, new { @class = "btn btn-primary btn-lg" })</p>
</div>
