﻿@model CustomerSurvey.Entities.Models.Survey

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Survey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HowSatisfied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HowSatisfied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HowResponsive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HowResponsive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HowLongHaveBeenCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HowLongHaveBeenCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LikelyToPurchaseAgain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LikelyToPurchaseAgain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Results", "Index")
        </div>
    }
</div>
