﻿@model CustomerSurvey.Entities.Models.Survey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HowSatisfied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HowSatisfied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HowResponsive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HowResponsive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HowLongHaveBeenCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HowLongHaveBeenCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LikelyToPurchaseAgain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LikelyToPurchaseAgain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Results", "Index")
</p>
