﻿@model IEnumerable<CustomerSurvey.Entities.Models.Survey>

@{
    ViewBag.Title = "Survey Results";
}

<h2>Survey Results</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EntryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowSatisfied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowResponsive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowLongHaveBeenCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LikelyToPurchaseAgain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EntryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowSatisfied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowResponsive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowLongHaveBeenCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LikelyToPurchaseAgain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
