﻿@model CustomerSurvey.Models.StatisticsViewModel

@{
    ViewBag.Title = "Statistics";

    var barChart = new BarChart();
    barChart.ChartConfiguration.ScaleShowLabels = true;
    barChart.ChartConfiguration.ShowScale = true;
    barChart.ComplexData.Labels.AddRange(new[] { "Extremely","Very","Somewhat","Not so","Not at all" });
    barChart.ComplexData.Datasets.AddRange(new List<ComplexDataset>
                           {
                              new ComplexDataset
                                  {
                                      Data = Model.Satisfaction,
                                      Label = "Satisfaction",
                                      FillColor = "rgba(220,220,220,0.2)",
                                      StrokeColor = "rgba(220,220,220,1)",
                                      PointColor = "rgba(220,220,220,1)",
                                      PointStrokeColor = "#fff",
                                      PointHighlightFill = "#fff",
                                      PointHighlightStroke = "rgba(220,220,220,1)",
                                  },
                              new ComplexDataset
                                  {
                                      Data = Model.Responsive,
                                      Label = "Responsive",
                                      FillColor = "rgba(151,187,205,0.2)",
                                      StrokeColor = "rgba(151,187,205,1)",
                                      PointColor = "rgba(151,187,205,1)",
                                      PointStrokeColor = "#fff",
                                      PointHighlightFill = "#fff",
                                      PointHighlightStroke = "rgba(151,187,205,1)",
                                  },
                              new ComplexDataset
                              {
                                  Data = Model.LikelyToBuy,
                                  Label = "Likely to buy again",
                                      FillColor = "rgba(100,250,205,0.2)",
                                      StrokeColor = "rgba(100,250,205,1)",
                                      PointColor = "rgba(100,250,205,1)",
                                      PointStrokeColor = "#fff",
                                      PointHighlightFill = "#fff",
                                      PointHighlightStroke = "rgba(100,250,205,1)",
                              }
                          });

}

<h2>Statistics</h2>
<h4>Satisfaction, Responsive, Likely to buy again joint histograms</h4>
<canvas id="myCanvas" width="600" height="400"></canvas>
@Html.CreateChart("myCanvas", barChart)


